.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(178.00000458955765, 34.00000177323818, 34.00000177323818, 1);
	width:1598px;
	height:1120px;
	position:absolute;
}.e1_3 { 
	width:373px;
	height:365px;
	position:absolute;
	left:458px;
	top:10px;
	border-top-left-radius:182.5px;
	border-top-right-radius:182.5px;
	border-bottom-left-radius:182.5px;
	border-bottom-right-radius:182.5px;
	background-image:url(images/imageedit_1_8821421750_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_10 { 
	background-color:rgba(255, 255, 255, 1);
	width:495px;
	height:35px;
	position:absolute;
	left:397px;
	top:525px;
	border-radius:30px;
}.3_10 { 
	border:2px solid rgba(0, 0, 0, 1);
}.e3_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:495px;
	height:35px;
	position:absolute;
	left:397px;
	top:628px;
	border-radius:30px;
}.3_12 { 
	border:2px solid rgba(0, 0, 0, 1);
}.e3_14 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:25px;
	position:absolute;
	left:435px;
	top:633px;
	font-family:Inder;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e3_7 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:25px;
	position:absolute;
	left:435px;
	top:525px;
	font-family:Inder;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e3_18 { 
	color:rgba(38.373958468437195, 106.74935147166252, 209.31249797344208, 1);
	width:197px;
	height:25px;
	position:absolute;
	left:561px;
	top:800px;
	font-family:Inder;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e3_35 { 
	background-color:rgba(255, 245.43749392032623, 245.43749392032623, 1);
	width:166px;
	height:48px;
	position:absolute;
	left:561px;
	top:702px;
}.3_35 { 
	border:3px solid rgba(0, 0, 0, 1);
}.e3_36 { 
	color:rgba(0, 0, 0, 1);
	width:61px;
	height:25px;
	position:absolute;
	left:614px;
	top:713px;
	font-family:Inder;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e3_39 { 
	color:rgba(255, 255, 255, 1);
	position:absolute;
	left:575px;
	top:538px;
	font-family:Alice;
	text-align:left;
	font-size:50px;
	letter-spacing:39;
}.e3_41 { 
	color:rgba(255, 251.81250303983688, 251.81250303983688, 1);
	width:199px;
	height:88px;
	position:absolute;
	left:545px;
	top:375px;
	font-family:Inder;
	text-align:left;
	font-size:70px;
	letter-spacing:0;
}